.DS_Store

.Rproj.user

.idea
.vscode

.RData
.RHistory

.ipynb_checkpoints

*.log
logs
catboost_info

tp1_files
tp2_files
tp3_files
dashboard_files

Beaudelaire.txt 
Baudelaire_len_32.p

NoticeTechnique_files
.posit
renv

results/
results_stage_1/
results_stage_2/
*.safetensors
*.pt
*.pth
*.bin

Classification and Regression